@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #ffffff;
  --fg: #0b1220;
}

html, body { height: 100%; }
body { background: var(--bg); color: var(--fg); }
* { scroll-behavior: smooth; }
